@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Sans&display=swap');

.container-fluid{
    background-color: #000000;
    padding: 1em;
}


small{
    color: rgb(247, 222, 238);
    display: flex;
    font-family: 'PT Sans', sans-serif;
    justify-content: center;
    letter-spacing: 2px;
}

