
<div class="container-fluid">
    <div class="row" id="contenedor-tarjeta">
        <div class="card col-11">
            <div id="card-text"> 
                <div id="contenedor-titulo"> 
                    <h3>¡Bienvenidos mi portfolio!<br></h3>
                </div>
                <p>
                    Mi nombre es Maria Milagros Andres, soy una estudiante de Desarrollo de Software de oficio, 
                    actualmente vivo en Buenos Aires, Argentina.<br>
                    Diseñé e implemente esta pagina web con tecnologias como Boostrap5 y Angular 
                    como parte del proyecto integrador final 
                    de la segunda parte (#YoProgramo) del curso Argentina Programa para mostrar mi información, 
                    estudios e intereses.
                </p> 
            </div>
            <div id="contenedor-boton">
                <button class="boton-habilitar-edicion btn btn-secondary btn-sm"> Editar</button>
            </div>
            
        </div>
    </div>