@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Noto+Sans+Mono & display=swap');


.container-fluid, .list-group, .list-group-item{
    background-color: #000000;
}

.list-group, .list-group-item, .title_container {
    color: #FFF;
    padding: 1em;
}

.title_container, h3, p {
   color: #00FF00;
}


.title_container{
    width: 100%;
    height: 30%;
    margin-right: 15%;
    display: flex;
    padding: 1em;
    justify-content: center;
}

.list-group-item {
    margin-top: 2em;
    border: solid 3px #4c4d52;
}



#contenedor-boton{
    display: flex;
    flex-direction: row-reverse;
}

h3, h5, small {
    font-family: 'VT323', monospace;
}

h5{
    color: #FFF;
}

h3 {
    font-size: 2.5rem;
}


 h5, small{
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 2px;
}


p{  
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1em;
}

button {
    background-color: #000000;
    border: #00FF00;
    color: #00FF00;
    font-family: 'VT323', monospace;
}

/*
  Utilice mediaquery ya que me encontre con un problema de visualizacion de un elemento HTML
*/

@media (max-width: 452px) {
    .title_container{
        margin-top: 30%;
        height: 50%;
    }
}

