<div class="container-fluid">
    <div class="row">
        
        <div class="title_container">
            <h3 class="title_experience">Estudios</h3>
          </div>
            <ul class="list-group">

              <li class="list-group-item">
                <div class="texto-item">
                  <h5 class="mb-1">Instituo Nere-Echea</h5>
                  <p class="item_text">Bachillerato de Ciencias Sociales</p>
                  <small class="text-muted">2010 - 2015</small>
                </div> 
                <div id="contenedor-boton">
                    <button class="boton-habilitar-edicion btn btn-secondary"> Editar</button>
                </div>
              </li>

              <li class="list-group-item">
                <div class="texto-item">
                  <h5 class="mb-1">FrontEnd web devepolver</h5>
                  <p class="item_text">Udemy</p>
                  <small class="text-muted"> 2020 - 2021</small>
                </div>
                <div id="contenedor-boton">
                    <button class="boton-habilitar-edicion btn btn-secondary"> Editar</button>
                </div>
              </li>

              <li class="list-group-item">
                <div class="texto-item">
                  <h5 class="mb-1">Desarrollo web FullStack Jr.</h5>
                  <p class="item_text">Argentina Programa</p>
                  <small class="text-muted">Actualmente</small>
                </div> 
                <div id="contenedor-boton">
                    <button class="boton-habilitar-edicion btn btn-secondary"> Editar</button>
                </div>
              </li>

              <li class="list-group-item">
                <div class="texto-item"> 
                  <h5 class="mb-1">Desarrollo de Software</h5>
                  <p class="item_text">Instituto Tecnologico Beltrán</p>
                  <small class="text-muted">Actualmente</small>
                </div> 
                <div id="contenedor-boton">
                    <button class="boton-habilitar-edicion btn btn-secondary"> Editar</button>
                </div>
              </li>

            </ul>

    </div>

</div>
