.container-fluid{
    background-color: #000000;
}
.row{
    height: 100%;
    padding: 2em;
}

.col-6{
    color: white;
    border: #BE8CE5 1.5px solid;
    padding: 1.5em;
}

.progress_container{
    margin-top: 10%;
    padding: 1em;
}

.title_container{
    display: flex;
    justify-content: center;
}

h3{
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
}

h4{
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9em;
    letter-spacing: 2px;

}

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Sans&display=swap');