

.container-fluid{
    background-color: #000000;
    padding: 1em;
}


small{
    display: flex;
    font-family: 'VT323', monospace;
    font-size: 2em;
    justify-content: center;
    letter-spacing: 2px;
}

