<div class="container-fluid">
  <div class="row">
    <div id="container_estudios">
        <!--Titulo-->
        <div class="title_container">
          <h3 class="title_experience">Estudios</h3>
        </div>

          <ul class="list-group">
            <li class="list-group-item">
              <div class="texto-item">
                <h5 class="mb-1">Bachillerato de Ciencias Sociales</h5>
                <p class="item_text">Instituo Nere-echea</p>
                <p class="text-muted">
                  Educación secundaria basica formal.
                </p>
                <small class="text-muted">2010 - 2015</small>
              </div> 
              <div id="contenedor-boton">
                  <button class="boton-habilitar-edicion "> Editar</button>
              </div>
            </li>
            <!------------------------------------------------------------------------>
            <li class="list-group-item">
              <div class="texto-item">
                <h5 class="mb-1">FrontEnd web</h5>
                <p class="item_text">Udemy</p>
                <p class="text-muted">En este curso de formación profesional aprendi a 
                 desarrollar aplicaciones web utilizando HTML, CSS y JavaScript.
                </p>
                
                <small class="text-muted"> 2020 - 2021</small>
              </div>
              <div id="contenedor-boton">
                  <button class="boton-habilitar-edicion"> Editar</button>
              </div>
            </li>
            <!------------------------------------------------------------------------>
            <li class="list-group-item">
              <div class="texto-item">
                <h5 class="mb-1">Desarrollo web FullStack Jr.</h5>
                <p class="item_text">Argentina Programa</p>
                <p class="text-muted">En la primera parte de este curso (<a href="https://www.argentina.gob.ar/produccion/argentina-programa/primera-etapa">#SeProgramar</a>), 
                  me interiorize en la logica que se necesita para programar en
                  Gobstones, JavaScript y Ruby.
                  Actualmente estoy cursando la segunda etapa, en la que debo presentar un proyecto
                  FullStack con los recursos extraidos del curso.
                 </p>
                
                <small class="text-muted">Actualmente</small>
              </div> 
              <div id="contenedor-boton">
                  <button class="boton-habilitar-edicion"> Editar</button>
              </div>
            </li>
            <!------------------------------------------------------------------------>
            <li class="list-group-item">
              <div class="texto-item"> 
                <h5 class="mb-1">Marketing Digital</h5>
                <p class="item_text">Universidad Nacional de Lanús</p>
                <p class="text-muted">
                  Me encuentro aprendiendo herramientas de gestión para negocios digitales. Desarrollarar estrategias de contenidos
                   y moderación. Y tambíen a reportes para optimizar los resultados.
                </p>
                
                <small class="text-muted">Actualmente</small>
              </div> 
              <div id="contenedor-boton">
                  <button class="boton-habilitar-edicion"> Editar</button>
              </div>
            </li>
            <!------------------------------------------------------------------------>
          </ul>
    </div>
  </div>
</div>
